flightstradeoffanalytics/data/node_red_export.json
[
    {
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "id": "20046ffb.dffb9",
        "name": "Create Widget",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no\">\n    <title>Node-RED TradeOff Analytics Widget demo</title>\n    <script type=\"text/javascript\" src=\"http://ta-cdn.mybluemix.net/v1/TradeoffAnalytics.js\"></script>\n    <script>\n    // get the problem object from Node-RED msg.problem\n    // note the triple-curly braces syntax to avoid HTML escaping\n    var problemObj={{{problem}}};\n    \n    // prepare client\n    var taClient;\n    \n    function loadTradeoffAnalytics() {\n\t\tdocument.body.style.cursor=\"wait\" ;\n        taClient = new TradeoffAnalytics(\n            {dilemmaServiceUrl: '{{{req._parsedUrl.pathname}}}/dilemmas',\n             analyticsEventsUrl: '{{{req._parsedUrl.pathname}}}/events'\n            }, \n            'flightsWidget');\n        taClient.start(onTAReady);\n    }\n\n    // this is called-back when the widget is ready\n    function onTAReady() {\n        taClient.show(problemObj, onTAShown);\n    }\n\n    // this is called-back when the problem has shown in the widget\n    function onTAShown() {\n\t\tdocument.body.style.cursor=\"default\";\n        taClient.resize();\n    }\n    \n    // trigger the widget setup when window has loaded\n\twindow.onload=loadTradeoffAnalytics;\n</script>\n</head>\n\n<body>\n    <div id=\"flightsWidget\" style=\"height:100vh\"></div>\n</body>\n</html>",
        "type": "template",
        "wires": [
            [
                "e0c5b60d.1f3a48"
            ]
        ],
        "x": 541.0000076293945,
        "y": 46.499999046325684,
        "z": "36d96c34.c92694"
    },
    {
        "id": "43cfc921.bc3038",
        "method": "get",
        "name": "",
        "swaggerDoc": "",
        "type": "http in",
        "url": "/flights",
        "wires": [
            [
                "eb10ea38.14ef18"
            ]
        ],
        "x": 101.25,
        "y": 47,
        "z": "36d96c34.c92694"
    },
    {
        "id": "e0c5b60d.1f3a48",
        "name": "",
        "type": "http response",
        "wires": [],
        "x": 761,
        "y": 46.25,
        "z": "36d96c34.c92694"
    },
    {
        "id": "ae780910.5187f8",
        "method": "post",
        "name": "",
        "swaggerDoc": "",
        "type": "http in",
        "url": "/flights/dilemmas",
        "wires": [
            [
                "4e9e08f6.b161f8"
            ]
        ],
        "x": 128.75,
        "y": 105.5,
        "z": "36d96c34.c92694"
    },
    {
        "id": "aff2dfd3.500d2",
        "name": "",
        "type": "http response",
        "wires": [],
        "x": 761.75,
        "y": 102.5,
        "z": "36d96c34.c92694"
    },
    {
        "id": "36a8c120.c9573e",
        "name": "Run Tradeoff Analytics",
        "type": "watson-tradeoff-analytics",
        "wires": [
            [
                "e51229e2.1aedd8"
            ]
        ],
        "x": 479.75,
        "y": 100.5,
        "z": "36d96c34.c92694"
    },
    {
        "action": "",
        "from": "",
        "id": "4e9e08f6.b161f8",
        "name": "Get Data from Payload",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "subject",
                "pt": "msg",
                "t": "set",
                "to": "payload.subject",
                "tot": "msg"
            },
            {
                "p": "columns",
                "pt": "msg",
                "t": "set",
                "to": "payload.columns",
                "tot": "msg"
            },
            {
                "p": "options",
                "pt": "msg",
                "t": "set",
                "to": "payload.options",
                "tot": "msg"
            },
            {
                "p": "problem",
                "pt": "msg",
                "t": "set",
                "to": "payload",
                "tot": "msg"
            },
            {
                "p": "payload",
                "pt": "msg",
                "t": "set",
                "to": "payload.subject",
                "tot": "msg"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "36a8c120.c9573e"
            ]
        ],
        "x": 310.00001525878906,
        "y": 168.24999809265137,
        "z": "36d96c34.c92694"
    },
    {
        "action": "",
        "from": "",
        "id": "e51229e2.1aedd8",
        "name": "Adjust Output for Widget",
        "property": "",
        "reg": false,
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "delete"
            },
            {
                "p": "payload.problem",
                "pt": "msg",
                "t": "set",
                "to": "problem",
                "tot": "msg"
            },
            {
                "p": "payload.resolution",
                "pt": "msg",
                "t": "set",
                "to": "resolution",
                "tot": "msg"
            }
        ],
        "to": "",
        "type": "change",
        "wires": [
            [
                "aff2dfd3.500d2"
            ]
        ],
        "x": 621,
        "y": 167.49999809265137,
        "z": "36d96c34.c92694"
    },
    {
        "func": "var problem = {\n    \"columns\": [\n        {\n            \"format\": \"####0.00\",\n            \"full_name\": \"Price\",\n            \"goal\": \"min\",\n            \"is_objective\": true,\n            \"key\": \"price\",\n            \"type\": \"numeric\"\n        },\n        {\n            \"full_name\": \"Take-off\",\n            \"goal\": \"max\",\n            \"is_objective\": true,\n            \"key\": \"takeoff\",\n            \"type\": \"datetime\"\n        },\n        {\n            \"full_name\": \"Landing\",\n            \"goal\": \"min\",\n            \"is_objective\": true,\n            \"key\": \"landing\",\n            \"type\": \"datetime\"\n        },\n        {\n            \"format\": \"####0\",\n            \"full_name\": \"Travel Time\",\n            \"goal\": \"min\",\n            \"is_objective\": true,\n            \"key\": \"traveltime\",\n            \"type\": \"numeric\"\n        },\n        {\n            \"format\": \"####0\",\n            \"full_name\": \"Stops\",\n            \"goal\": \"min\",\n            \"is_objective\": true,\n            \"key\": \"stops\",\n            \"type\": \"numeric\"\n        },\n        {\n            \"full_name\": \"Airline\",\n            \"goal\": \"min\",\n            \"is_objective\": true,\n            \"key\": \"airline\",\n            \"preference\": [\n                \"AS\",\n                \"EI\",\n                \"TK\",\n                \"B6\",\n                \"UA\",\n                \"FI\",\n                \"SK\",\n                \"LH\",\n                \"BA\",\n                \"AF\",\n                \"KL\",\n                \"OS\",\n                \"IB\",\n                \"VS\",\n                \"AB\",\n                \"AC\",\n                \"AY\",\n                \"SN\"\n            ],\n            \"range\": [\n                \"AS\",\n                \"EI\",\n                \"TK\",\n                \"B6\",\n                \"UA\",\n                \"FI\",\n                \"SK\",\n                \"LH\",\n                \"BA\",\n                \"AF\",\n                \"KL\",\n                \"OS\",\n                \"IB\",\n                \"VS\",\n                \"AB\",\n                \"AC\",\n                \"AY\",\n                \"SN\"\n            ],\n            \"type\": \"categorical\"\n        }\n    ],\n    \"options\": [\n        {\n            \"description_html\": \"TK  80 -> TK1727 \",\n            \"key\": \"1\",\n            \"name\": \"Flight Option 1\",\n            \"values\": {\n                \"airline\": \"TK\",\n                \"landing\": \"2016-02-18T21:30:00Z\",\n                \"price\": 783.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T18:10:00Z\",\n                \"traveltime\": 18.3333333333\n            }\n        },\n        {\n            \"description_html\": \"EI 146 -> EI 338 \",\n            \"key\": \"2\",\n            \"name\": \"Flight Option 2\",\n            \"values\": {\n                \"airline\": \"EI\",\n                \"landing\": \"2016-02-18T19:40:00Z\",\n                \"price\": 912.17,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T17:25:00Z\",\n                \"traveltime\": 17.25\n            }\n        },\n        {\n            \"description_html\": \"B6 -> EI 136 -> EI 330 \",\n            \"key\": \"3\",\n            \"name\": \"Flight Option 3\",\n            \"values\": {\n                \"airline\": \"B\",\n                \"landing\": \"2016-02-18T10:20:00Z\",\n                \"price\": 934.67,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:00:00Z\",\n                \"traveltime\": 17.3333333333\n            }\n        },\n        {\n            \"description_html\": \"UA 768 -> EI 136 -> EI 330 \",\n            \"key\": \"4\",\n            \"name\": \"Flight Option 4\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T10:20:00Z\",\n                \"price\": 934.67,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:22:00Z\",\n                \"traveltime\": 16.9666666667\n            }\n        },\n        {\n            \"description_html\": \"FI7616 -> FI 680 -> FI 204 -> SK 679 \",\n            \"key\": \"5\",\n            \"name\": \"Flight Option 5\",\n            \"values\": {\n                \"airline\": \"FI\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 1223.3,\n                \"stops\": 3,\n                \"takeoff\": \"2016-02-17T10:00:00Z\",\n                \"traveltime\": 20.9166666667\n            }\n        },\n        {\n            \"description_html\": \"AS 303 -> FI 680 -> FI 204 -> SK 679 \",\n            \"key\": \"6\",\n            \"name\": \"Flight Option 6\",\n            \"values\": {\n                \"airline\": \"AS\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 1223.3,\n                \"stops\": 3,\n                \"takeoff\": \"2016-02-17T10:00:00Z\",\n                \"traveltime\": 20.9166666667\n            }\n        },\n        {\n            \"description_html\": \"AS 311 -> FI 680 -> FI 204 -> SK 679 \",\n            \"key\": \"7\",\n            \"name\": \"Flight Option 7\",\n            \"values\": {\n                \"airline\": \"AS\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 1223.3,\n                \"stops\": 3,\n                \"takeoff\": \"2016-02-17T08:25:00Z\",\n                \"traveltime\": 22.5\n            }\n        },\n        {\n            \"description_html\": \"VX 740 -> FI 680 -> FI 306 -> SK2679 \",\n            \"key\": \"8\",\n            \"name\": \"Flight Option 8\",\n            \"values\": {\n                \"airline\": \"VX\",\n                \"landing\": \"2016-02-18T19:40:00Z\",\n                \"price\": 1249.6,\n                \"stops\": 3,\n                \"takeoff\": \"2016-02-17T08:25:00Z\",\n                \"traveltime\": 26.25\n            }\n        },\n        {\n            \"description_html\": \"VX 740 -> FI 680 -> FI 204 -> SK1677 \",\n            \"key\": \"9\",\n            \"name\": \"Flight Option 9\",\n            \"values\": {\n                \"airline\": \"VX\",\n                \"landing\": \"2016-02-18T20:30:00Z\",\n                \"price\": 1257.3,\n                \"stops\": 3,\n                \"takeoff\": \"2016-02-17T08:25:00Z\",\n                \"traveltime\": 27.0833333333\n            }\n        },\n        {\n            \"description_html\": \"VX 740 -> FI 680 -> FI 204 -> SK 679 \",\n            \"key\": \"10\",\n            \"name\": \"Flight Option 10\",\n            \"values\": {\n                \"airline\": \"VX\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 1257.3,\n                \"stops\": 3,\n                \"takeoff\": \"2016-02-17T08:25:00Z\",\n                \"traveltime\": 22.5\n            }\n        },\n        {\n            \"description_html\": \"EI 146 -> EI 608 -> KL1829 \",\n            \"key\": \"11\",\n            \"name\": \"Flight Option 11\",\n            \"values\": {\n                \"airline\": \"EI\",\n                \"landing\": \"2016-02-18T18:05:00Z\",\n                \"price\": 1818.27,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:25:00Z\",\n                \"traveltime\": 15.6666666667\n            }\n        },\n        {\n            \"description_html\": \"IB4668 -> AB5002 \",\n            \"key\": \"12\",\n            \"name\": \"Flight Option 12\",\n            \"values\": {\n                \"airline\": \"IB\",\n                \"landing\": \"2016-02-18T15:40:00Z\",\n                \"price\": 2013.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 14.4166666667\n            }\n        },\n        {\n            \"description_html\": \"IB4668 -> AB5006 \",\n            \"key\": \"13\",\n            \"name\": \"Flight Option 13\",\n            \"values\": {\n                \"airline\": \"IB\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2013.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 20.1666666667\n            }\n        },\n        {\n            \"description_html\": \"IB4670 -> AB5006 \",\n            \"key\": \"14\",\n            \"name\": \"Flight Option 14\",\n            \"values\": {\n                \"airline\": \"IB\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2013.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 16.0833333333\n            }\n        },\n        {\n            \"description_html\": \"AY5524 -> AB5002 \",\n            \"key\": \"15\",\n            \"name\": \"Flight Option 15\",\n            \"values\": {\n                \"airline\": \"AY\",\n                \"landing\": \"2016-02-18T15:40:00Z\",\n                \"price\": 2059.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 14.4166666667\n            }\n        },\n        {\n            \"description_html\": \"AY5524 -> AB5006 \",\n            \"key\": \"16\",\n            \"name\": \"Flight Option 16\",\n            \"values\": {\n                \"airline\": \"AY\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2059.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 20.1666666667\n            }\n        },\n        {\n            \"description_html\": \"AY5526 -> AB5006 \",\n            \"key\": \"17\",\n            \"name\": \"Flight Option 17\",\n            \"values\": {\n                \"airline\": \"AY\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2059.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 16.0833333333\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 430 -> AB8067 \",\n            \"key\": \"18\",\n            \"name\": \"Flight Option 18\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T20:35:00Z\",\n                \"price\": 2390.7,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 18.0833333333\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 438 -> AB8067 \",\n            \"key\": \"19\",\n            \"name\": \"Flight Option 19\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T20:35:00Z\",\n                \"price\": 2390.7,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 18.0833333333\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 757 -> AB8237 \",\n            \"key\": \"20\",\n            \"name\": \"Flight Option 20\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T20:10:00Z\",\n                \"price\": 2403.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 17.6666666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 679 \",\n            \"key\": \"21\",\n            \"name\": \"Flight Option 21\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 2431.2,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 13.4166666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK1677 \",\n            \"key\": \"22\",\n            \"name\": \"Flight Option 22\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T20:30:00Z\",\n                \"price\": 2431.2,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 18.0\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 408 -> SK2679 \",\n            \"key\": \"23\",\n            \"name\": \"Flight Option 23\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T19:40:00Z\",\n                \"price\": 2439.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 17.1666666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 406 -> SK2679 \",\n            \"key\": \"24\",\n            \"name\": \"Flight Option 24\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T19:40:00Z\",\n                \"price\": 2439.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 17.1666666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK1424 -> SK2679 \",\n            \"key\": \"25\",\n            \"name\": \"Flight Option 25\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T19:40:00Z\",\n                \"price\": 2439.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 17.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA 424 -> AY5448 -> AB5002 \",\n            \"key\": \"26\",\n            \"name\": \"Flight Option 26\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T15:40:00Z\",\n                \"price\": 2451.4,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T14:35:00Z\",\n                \"traveltime\": 16.0833333333\n            }\n        },\n        {\n            \"description_html\": \"BA 284 -> AB5006 \",\n            \"key\": \"27\",\n            \"name\": \"Flight Option 27\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2459.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 20.1666666667\n            }\n        },\n        {\n            \"description_html\": \"BA 284 -> AB5002 \",\n            \"key\": \"28\",\n            \"name\": \"Flight Option 28\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T15:40:00Z\",\n                \"price\": 2459.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 14.4166666667\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> AB5006 \",\n            \"key\": \"29\",\n            \"name\": \"Flight Option 29\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2459.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 16.0833333333\n            }\n        },\n        {\n            \"description_html\": \"AS1502 -> SK 944 -> SK 679 \",\n            \"key\": \"30\",\n            \"name\": \"Flight Option 30\",\n            \"values\": {\n                \"airline\": \"AS\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 2483.7,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T14:25:00Z\",\n                \"traveltime\": 16.5\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> AB8037 \",\n            \"key\": \"31\",\n            \"name\": \"Flight Option 31\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T20:40:00Z\",\n                \"price\": 2518.2,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 18.1666666667\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> BA 336 -> AB8309 \",\n            \"key\": \"32\",\n            \"name\": \"Flight Option 32\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T22:45:00Z\",\n                \"price\": 2522.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 17.4166666667\n            }\n        },\n        {\n            \"description_html\": \"BA 284 -> AB5040 -> AB6200 \",\n            \"key\": \"33\",\n            \"name\": \"Flight Option 33\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T17:55:00Z\",\n                \"price\": 2524.7,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 16.6666666667\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> AB5052 -> AB6560 \",\n            \"key\": \"34\",\n            \"name\": \"Flight Option 34\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T22:00:00Z\",\n                \"price\": 2526.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 16.6666666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK1621 -> AB6446 \",\n            \"key\": \"35\",\n            \"name\": \"Flight Option 35\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T18:10:00Z\",\n                \"price\": 2575.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 15.6666666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK2657 -> AB6202 \",\n            \"key\": \"36\",\n            \"name\": \"Flight Option 36\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T18:45:00Z\",\n                \"price\": 2587.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 16.25\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK2657 -> AB6204 \",\n            \"key\": \"37\",\n            \"name\": \"Flight Option 37\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T20:10:00Z\",\n                \"price\": 2587.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 17.6666666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK1621 -> AB6448 \",\n            \"key\": \"38\",\n            \"name\": \"Flight Option 38\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T20:15:00Z\",\n                \"price\": 2591.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 17.75\n            }\n        },\n        {\n            \"description_html\": \"UA 930 -> AB5006 \",\n            \"key\": \"39\",\n            \"name\": \"Flight Option 39\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2658.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.0\n            }\n        },\n        {\n            \"description_html\": \"LH9379 -> AB5006 \",\n            \"key\": \"40\",\n            \"name\": \"Flight Option 40\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2676.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.0\n            }\n        },\n        {\n            \"description_html\": \"OS7858 -> AB5006 \",\n            \"key\": \"41\",\n            \"name\": \"Flight Option 41\",\n            \"values\": {\n                \"airline\": \"OS\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2676.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.0\n            }\n        },\n        {\n            \"description_html\": \"SN9102 -> AB5006 \",\n            \"key\": \"42\",\n            \"name\": \"Flight Option 42\",\n            \"values\": {\n                \"airline\": \"SN\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2676.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.0\n            }\n        },\n        {\n            \"description_html\": \"VS  42 -> BA 988 \",\n            \"key\": \"43\",\n            \"name\": \"Flight Option 43\",\n            \"values\": {\n                \"airline\": \"VS\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 2767.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T21:05:00Z\",\n                \"traveltime\": 15.3333333333\n            }\n        },\n        {\n            \"description_html\": \"UA 212 -> UA 962 \",\n            \"key\": \"44\",\n            \"name\": \"Flight Option 44\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:05:00Z\",\n                \"price\": 2925.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T06:00:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"UA1257 -> UA 962 \",\n            \"key\": \"45\",\n            \"name\": \"Flight Option 45\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:05:00Z\",\n                \"price\": 2925.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T07:05:00Z\",\n                \"traveltime\": 16.0\n            }\n        },\n        {\n            \"description_html\": \"UA 414 -> UA 962 \",\n            \"key\": \"46\",\n            \"name\": \"Flight Option 46\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:05:00Z\",\n                \"price\": 2925.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T09:00:00Z\",\n                \"traveltime\": 14.0833333333\n            }\n        },\n        {\n            \"description_html\": \"UA 233 -> UA 962 \",\n            \"key\": \"47\",\n            \"name\": \"Flight Option 47\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:05:00Z\",\n                \"price\": 2925.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T08:05:00Z\",\n                \"traveltime\": 15.0\n            }\n        },\n        {\n            \"description_html\": \"UA9725 -> LX 962 \",\n            \"key\": \"48\",\n            \"name\": \"Flight Option 48\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T22:15:00Z\",\n                \"price\": 2939.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA9725 -> LX 978 \",\n            \"key\": \"49\",\n            \"name\": \"Flight Option 49\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T19:10:00Z\",\n                \"price\": 2939.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 14.75\n            }\n        },\n        {\n            \"description_html\": \"UA 414 -> UA  57 \",\n            \"key\": \"50\",\n            \"name\": \"Flight Option 50\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T10:50:00Z\",\n                \"price\": 2942.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T09:00:00Z\",\n                \"traveltime\": 16.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA1257 -> LH7606 \",\n            \"key\": \"51\",\n            \"name\": \"Flight Option 51\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:05:00Z\",\n                \"price\": 2942.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T07:05:00Z\",\n                \"traveltime\": 16.0\n            }\n        },\n        {\n            \"description_html\": \"UA 233 -> LH7606 \",\n            \"key\": \"52\",\n            \"name\": \"Flight Option 52\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:05:00Z\",\n                \"price\": 2942.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T08:05:00Z\",\n                \"traveltime\": 15.0\n            }\n        },\n        {\n            \"description_html\": \"UA 414 -> LH7606 \",\n            \"key\": \"53\",\n            \"name\": \"Flight Option 53\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:05:00Z\",\n                \"price\": 2942.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T09:00:00Z\",\n                \"traveltime\": 14.0833333333\n            }\n        },\n        {\n            \"description_html\": \"UA 212 -> LH7606 \",\n            \"key\": \"54\",\n            \"name\": \"Flight Option 54\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:05:00Z\",\n                \"price\": 2942.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T06:00:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"AF  83 -> AF1534 \",\n            \"key\": \"55\",\n            \"name\": \"Flight Option 55\",\n            \"values\": {\n                \"airline\": \"AF\",\n                \"landing\": \"2016-02-18T14:20:00Z\",\n                \"price\": 2943.6,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 14.3333333333\n            }\n        },\n        {\n            \"description_html\": \"AF  83 -> AF1134 \",\n            \"key\": \"56\",\n            \"name\": \"Flight Option 56\",\n            \"values\": {\n                \"airline\": \"AF\",\n                \"landing\": \"2016-02-18T21:40:00Z\",\n                \"price\": 2943.6,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 21.6666666667\n            }\n        },\n        {\n            \"description_html\": \"AF  83 -> AF1834 \",\n            \"key\": \"57\",\n            \"name\": \"Flight Option 57\",\n            \"values\": {\n                \"airline\": \"AF\",\n                \"landing\": \"2016-02-18T17:25:00Z\",\n                \"price\": 2943.6,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 17.4166666667\n            }\n        },\n        {\n            \"description_html\": \"UA 414 -> UA 999 -> SN2581 \",\n            \"key\": \"58\",\n            \"name\": \"Flight Option 58\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T11:05:00Z\",\n                \"price\": 2945.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T09:00:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"UA 930 \",\n            \"key\": \"59\",\n            \"name\": \"Flight Option 59\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T22:05:00Z\",\n                \"price\": 2952.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.6666666667\n            }\n        },\n        {\n            \"description_html\": \"UA 930 -> UA2769 \",\n            \"key\": \"60\",\n            \"name\": \"Flight Option 60\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T22:05:00Z\",\n                \"price\": 2952.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.6666666667\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 186 \",\n            \"key\": \"61\",\n            \"name\": \"Flight Option 61\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T14:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 196 \",\n            \"key\": \"62\",\n            \"name\": \"Flight Option 62\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T19:25:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 19.3333333333\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 196 \",\n            \"key\": \"63\",\n            \"name\": \"Flight Option 63\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T19:25:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 20.6666666667\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 194 \",\n            \"key\": \"64\",\n            \"name\": \"Flight Option 64\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T18:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 18.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 168 \",\n            \"key\": \"65\",\n            \"name\": \"Flight Option 65\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T18:25:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 18.3333333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 198 \",\n            \"key\": \"66\",\n            \"name\": \"Flight Option 66\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T19:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 19.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 194 \",\n            \"key\": \"67\",\n            \"name\": \"Flight Option 67\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T18:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 20.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 192 \",\n            \"key\": \"68\",\n            \"name\": \"Flight Option 68\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T17:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 19.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 184 \",\n            \"key\": \"69\",\n            \"name\": \"Flight Option 69\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T13:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 13.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 188 \",\n            \"key\": \"70\",\n            \"name\": \"Flight Option 70\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 15.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 186 \",\n            \"key\": \"71\",\n            \"name\": \"Flight Option 71\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T14:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 14.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> UA8976 \",\n            \"key\": \"72\",\n            \"name\": \"Flight Option 72\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T14:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 14.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 180 \",\n            \"key\": \"73\",\n            \"name\": \"Flight Option 73\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T11:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 13.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 168 \",\n            \"key\": \"74\",\n            \"name\": \"Flight Option 74\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T18:25:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 19.6666666667\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> UA8976 \",\n            \"key\": \"75\",\n            \"name\": \"Flight Option 75\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T14:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 188 \",\n            \"key\": \"76\",\n            \"name\": \"Flight Option 76\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 17.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 190 \",\n            \"key\": \"77\",\n            \"name\": \"Flight Option 77\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T16:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 16.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> UA8998 \",\n            \"key\": \"78\",\n            \"name\": \"Flight Option 78\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T11:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 13.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 184 \",\n            \"key\": \"79\",\n            \"name\": \"Flight Option 79\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T13:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 15.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 192 \",\n            \"key\": \"80\",\n            \"name\": \"Flight Option 80\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T17:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 190 \",\n            \"key\": \"81\",\n            \"name\": \"Flight Option 81\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T16:55:00Z\",\n                \"price\": 2953.8,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 18.1666666667\n            }\n        },\n        {\n            \"description_html\": \"KL 606 -> KL1829 \",\n            \"key\": \"82\",\n            \"name\": \"Flight Option 82\",\n            \"values\": {\n                \"airline\": \"KL\",\n                \"landing\": \"2016-02-18T18:05:00Z\",\n                \"price\": 2954.6,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T14:45:00Z\",\n                \"traveltime\": 18.3333333333\n            }\n        },\n        {\n            \"description_html\": \"KL 606 -> KL1835 \",\n            \"key\": \"83\",\n            \"name\": \"Flight Option 83\",\n            \"values\": {\n                \"airline\": \"KL\",\n                \"landing\": \"2016-02-18T21:55:00Z\",\n                \"price\": 2954.6,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T14:45:00Z\",\n                \"traveltime\": 22.1666666667\n            }\n        },\n        {\n            \"description_html\": \"KL 606 -> KL1825 \",\n            \"key\": \"84\",\n            \"name\": \"Flight Option 84\",\n            \"values\": {\n                \"airline\": \"KL\",\n                \"landing\": \"2016-02-18T13:45:00Z\",\n                \"price\": 2954.6,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T14:45:00Z\",\n                \"traveltime\": 14.0\n            }\n        },\n        {\n            \"description_html\": \"KL 606 -> KL1833 \",\n            \"key\": \"85\",\n            \"name\": \"Flight Option 85\",\n            \"values\": {\n                \"airline\": \"KL\",\n                \"landing\": \"2016-02-18T16:00:00Z\",\n                \"price\": 2954.6,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T14:45:00Z\",\n                \"traveltime\": 16.25\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 675 -> LH 168 \",\n            \"key\": \"86\",\n            \"name\": \"Flight Option 86\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T18:25:00Z\",\n                \"price\": 2955.2,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 15.9166666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 675 -> LH 196 \",\n            \"key\": \"87\",\n            \"name\": \"Flight Option 87\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T19:25:00Z\",\n                \"price\": 2955.2,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 16.9166666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 675 -> LH 198 \",\n            \"key\": \"88\",\n            \"name\": \"Flight Option 88\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T19:55:00Z\",\n                \"price\": 2955.2,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 17.4166666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK3641 -> LH 168 \",\n            \"key\": \"89\",\n            \"name\": \"Flight Option 89\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T18:25:00Z\",\n                \"price\": 2955.2,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 15.9166666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK3641 -> LH 194 \",\n            \"key\": \"90\",\n            \"name\": \"Flight Option 90\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T18:55:00Z\",\n                \"price\": 2955.2,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 16.4166666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK3641 -> LH 196 \",\n            \"key\": \"91\",\n            \"name\": \"Flight Option 91\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T19:25:00Z\",\n                \"price\": 2955.2,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 16.9166666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK 675 -> LH 194 \",\n            \"key\": \"92\",\n            \"name\": \"Flight Option 92\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T18:55:00Z\",\n                \"price\": 2955.2,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 16.4166666667\n            }\n        },\n        {\n            \"description_html\": \"LX  39 -> LX 978 \",\n            \"key\": \"93\",\n            \"name\": \"Flight Option 93\",\n            \"values\": {\n                \"airline\": \"LX\",\n                \"landing\": \"2016-02-18T19:10:00Z\",\n                \"price\": 2956.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 14.75\n            }\n        },\n        {\n            \"description_html\": \"LX  39 -> LX 962 \",\n            \"key\": \"94\",\n            \"name\": \"Flight Option 94\",\n            \"values\": {\n                \"airline\": \"LX\",\n                \"landing\": \"2016-02-18T22:15:00Z\",\n                \"price\": 2956.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.8333333333\n            }\n        },\n        {\n            \"description_html\": \"AC 758 -> AC 872 -> LH 174 \",\n            \"key\": \"95\",\n            \"name\": \"Flight Option 95\",\n            \"values\": {\n                \"airline\": \"AC\",\n                \"landing\": \"2016-02-18T08:55:00Z\",\n                \"price\": 2957.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T07:30:00Z\",\n                \"traveltime\": 16.4166666667\n            }\n        },\n        {\n            \"description_html\": \"AC 758 -> AC 872 -> LH 176 \",\n            \"key\": \"96\",\n            \"name\": \"Flight Option 96\",\n            \"values\": {\n                \"airline\": \"AC\",\n                \"landing\": \"2016-02-18T09:55:00Z\",\n                \"price\": 2957.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T07:30:00Z\",\n                \"traveltime\": 17.4166666667\n            }\n        },\n        {\n            \"description_html\": \"AC 738 -> AC 876 -> LH 184 \",\n            \"key\": \"97\",\n            \"name\": \"Flight Option 97\",\n            \"values\": {\n                \"airline\": \"AC\",\n                \"landing\": \"2016-02-18T13:55:00Z\",\n                \"price\": 2957.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T11:50:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"AC 758 -> AC 872 -> AC9117 \",\n            \"key\": \"98\",\n            \"name\": \"Flight Option 98\",\n            \"values\": {\n                \"airline\": \"AC\",\n                \"landing\": \"2016-02-18T08:55:00Z\",\n                \"price\": 2957.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T07:30:00Z\",\n                \"traveltime\": 16.4166666667\n            }\n        },\n        {\n            \"description_html\": \"UA1863 -> UA 944 -> LH 174 \",\n            \"key\": \"99\",\n            \"name\": \"Flight Option 99\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T06:44:00Z\",\n                \"traveltime\": 17.1833333333\n            }\n        },\n        {\n            \"description_html\": \"UA 322 -> UA8718 -> UA8998 \",\n            \"key\": \"100\",\n            \"name\": \"Flight Option 100\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T11:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T10:45:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA1579 -> UA8837 -> LH 176 \",\n            \"key\": \"101\",\n            \"name\": \"Flight Option 101\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T09:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T07:55:00Z\",\n                \"traveltime\": 17.0\n            }\n        },\n        {\n            \"description_html\": \"UA1863 -> UA 944 -> LH 172 \",\n            \"key\": \"102\",\n            \"name\": \"Flight Option 102\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:25:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T06:44:00Z\",\n                \"traveltime\": 16.6833333333\n            }\n        },\n        {\n            \"description_html\": \"UA 620 -> UA8837 -> LH 176 \",\n            \"key\": \"103\",\n            \"name\": \"Flight Option 103\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T09:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:48:00Z\",\n                \"traveltime\": 16.1166666667\n            }\n        },\n        {\n            \"description_html\": \"UA 322 -> UA8718 -> LH 180 \",\n            \"key\": \"104\",\n            \"name\": \"Flight Option 104\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T11:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T10:45:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA 734 -> UA 944 -> LH 170 \",\n            \"key\": \"105\",\n            \"name\": \"Flight Option 105\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T07:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T06:00:00Z\",\n                \"traveltime\": 16.9166666667\n            }\n        },\n        {\n            \"description_html\": \"UA 620 -> UA8837 -> UA8970 \",\n            \"key\": \"106\",\n            \"name\": \"Flight Option 106\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T09:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:48:00Z\",\n                \"traveltime\": 16.1166666667\n            }\n        },\n        {\n            \"description_html\": \"UA 620 -> UA8837 -> LH 178 \",\n            \"key\": \"107\",\n            \"name\": \"Flight Option 107\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T10:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:48:00Z\",\n                \"traveltime\": 17.1166666667\n            }\n        },\n        {\n            \"description_html\": \"UA1863 -> UA 944 -> LH 170 \",\n            \"key\": \"108\",\n            \"name\": \"Flight Option 108\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T07:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T06:44:00Z\",\n                \"traveltime\": 16.1833333333\n            }\n        },\n        {\n            \"description_html\": \"UA1863 -> UA 944 -> UA8990 \",\n            \"key\": \"109\",\n            \"name\": \"Flight Option 109\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T07:55:00Z\",\n                \"price\": 2958.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T06:44:00Z\",\n                \"traveltime\": 16.1833333333\n            }\n        },\n        {\n            \"description_html\": \"AS 303 -> KL6032 -> KL1823 \",\n            \"key\": \"110\",\n            \"name\": \"Flight Option 110\",\n            \"values\": {\n                \"airline\": \"AS\",\n                \"landing\": \"2016-02-18T11:15:00Z\",\n                \"price\": 2959.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T10:00:00Z\",\n                \"traveltime\": 16.25\n            }\n        },\n        {\n            \"description_html\": \"KL6879 -> KL 602 -> KL1823 \",\n            \"key\": \"111\",\n            \"name\": \"Flight Option 111\",\n            \"values\": {\n                \"airline\": \"KL\",\n                \"landing\": \"2016-02-18T11:15:00Z\",\n                \"price\": 2959.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T10:00:00Z\",\n                \"traveltime\": 16.25\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK2657 -> LH2046 \",\n            \"key\": \"112\",\n            \"name\": \"Flight Option 112\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T18:10:00Z\",\n                \"price\": 2966.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 15.6666666667\n            }\n        },\n        {\n            \"description_html\": \"SK 936 -> SK2657 -> LH2048 \",\n            \"key\": \"113\",\n            \"name\": \"Flight Option 113\",\n            \"values\": {\n                \"airline\": \"SK\",\n                \"landing\": \"2016-02-18T19:10:00Z\",\n                \"price\": 2966.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T17:30:00Z\",\n                \"traveltime\": 16.6666666667\n            }\n        },\n        {\n            \"description_html\": \"AB4638 -> AB7421 \",\n            \"key\": \"114\",\n            \"name\": \"Flight Option 114\",\n            \"values\": {\n                \"airline\": \"AB\",\n                \"landing\": \"2016-02-18T07:00:00Z\",\n                \"price\": 2967.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T07:45:00Z\",\n                \"traveltime\": 14.25\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 200 \",\n            \"key\": \"115\",\n            \"name\": \"Flight Option 115\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T20:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 20.8333333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 190 \",\n            \"key\": \"116\",\n            \"name\": \"Flight Option 116\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T16:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 16.8333333333\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 192 \",\n            \"key\": \"117\",\n            \"name\": \"Flight Option 117\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T17:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 19.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 194 \",\n            \"key\": \"118\",\n            \"name\": \"Flight Option 118\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T18:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 18.8333333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 184 \",\n            \"key\": \"119\",\n            \"name\": \"Flight Option 119\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T13:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 13.8333333333\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 200 \",\n            \"key\": \"120\",\n            \"name\": \"Flight Option 120\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T20:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 22.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 186 \",\n            \"key\": \"121\",\n            \"name\": \"Flight Option 121\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T14:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 14.8333333333\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 194 \",\n            \"key\": \"122\",\n            \"name\": \"Flight Option 122\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T18:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 20.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 198 \",\n            \"key\": \"123\",\n            \"name\": \"Flight Option 123\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T19:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 21.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 180 \",\n            \"key\": \"124\",\n            \"name\": \"Flight Option 124\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T11:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 13.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 196 \",\n            \"key\": \"125\",\n            \"name\": \"Flight Option 125\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T19:25:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 20.6666666667\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 188 \",\n            \"key\": \"126\",\n            \"name\": \"Flight Option 126\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 17.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 202 \",\n            \"key\": \"127\",\n            \"name\": \"Flight Option 127\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T22:25:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 23.6666666667\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 192 \",\n            \"key\": \"128\",\n            \"name\": \"Flight Option 128\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T17:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.8333333333\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 184 \",\n            \"key\": \"129\",\n            \"name\": \"Flight Option 129\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T13:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 15.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 168 \",\n            \"key\": \"130\",\n            \"name\": \"Flight Option 130\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T18:25:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 19.6666666667\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 196 \",\n            \"key\": \"131\",\n            \"name\": \"Flight Option 131\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T19:25:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 19.3333333333\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 190 \",\n            \"key\": \"132\",\n            \"name\": \"Flight Option 132\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T16:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 18.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 202 \",\n            \"key\": \"133\",\n            \"name\": \"Flight Option 133\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T22:25:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 22.3333333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 168 \",\n            \"key\": \"134\",\n            \"name\": \"Flight Option 134\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T18:25:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 18.3333333333\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 186 \",\n            \"key\": \"135\",\n            \"name\": \"Flight Option 135\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T14:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 198 \",\n            \"key\": \"136\",\n            \"name\": \"Flight Option 136\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T19:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 19.8333333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 188 \",\n            \"key\": \"137\",\n            \"name\": \"Flight Option 137\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T15:55:00Z\",\n                \"price\": 2971.3,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 15.8333333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 106 -> LH2044 \",\n            \"key\": \"138\",\n            \"name\": \"Flight Option 138\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 2972.6,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 104 -> LH2044 \",\n            \"key\": \"139\",\n            \"name\": \"Flight Option 139\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 2972.6,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 104 -> LH2040 \",\n            \"key\": \"140\",\n            \"name\": \"Flight Option 140\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T15:10:00Z\",\n                \"price\": 2972.6,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 15.0833333333\n            }\n        },\n        {\n            \"description_html\": \"UA  58 -> LH 104 -> LH2040 \",\n            \"key\": \"141\",\n            \"name\": \"Flight Option 141\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T15:10:00Z\",\n                \"price\": 2972.6,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 16.4166666667\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 108 -> LH2044 \",\n            \"key\": \"142\",\n            \"name\": \"Flight Option 142\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 2972.6,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 104 -> LH2042 \",\n            \"key\": \"143\",\n            \"name\": \"Flight Option 143\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T16:15:00Z\",\n                \"price\": 2972.6,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> LH 106 -> LH2042 \",\n            \"key\": \"144\",\n            \"name\": \"Flight Option 144\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T16:15:00Z\",\n                \"price\": 2972.6,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"AC 758 -> LH6789 -> LH 174 \",\n            \"key\": \"146\",\n            \"name\": \"Flight Option 146\",\n            \"values\": {\n                \"airline\": \"AC\",\n                \"landing\": \"2016-02-18T08:55:00Z\",\n                \"price\": 2974.6,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T07:30:00Z\",\n                \"traveltime\": 16.4166666667\n            }\n        },\n        {\n            \"description_html\": \"UA5237 -> LH 457 -> LH 184 \",\n            \"key\": \"147\",\n            \"name\": \"Flight Option 147\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T13:55:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T11:43:00Z\",\n                \"traveltime\": 17.2\n            }\n        },\n        {\n            \"description_html\": \"UA1579 -> LH 431 -> LH 176 \",\n            \"key\": \"148\",\n            \"name\": \"Flight Option 148\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T09:55:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T07:55:00Z\",\n                \"traveltime\": 17.0\n            }\n        },\n        {\n            \"description_html\": \"LH7785 -> LH 431 -> LH 176 \",\n            \"key\": \"149\",\n            \"name\": \"Flight Option 149\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T09:55:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:48:00Z\",\n                \"traveltime\": 16.1166666667\n            }\n        },\n        {\n            \"description_html\": \"UA1863 -> LH9153 -> LH 170 \",\n            \"key\": \"150\",\n            \"name\": \"Flight Option 150\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T07:55:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T06:44:00Z\",\n                \"traveltime\": 16.1833333333\n            }\n        },\n        {\n            \"description_html\": \"UA1863 -> LH9153 -> LH 172 \",\n            \"key\": \"151\",\n            \"name\": \"Flight Option 151\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T08:25:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T06:44:00Z\",\n                \"traveltime\": 16.6833333333\n            }\n        },\n        {\n            \"description_html\": \"UA 620 -> LH 431 -> LH 176 \",\n            \"key\": \"152\",\n            \"name\": \"Flight Option 152\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T09:55:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:48:00Z\",\n                \"traveltime\": 16.1166666667\n            }\n        },\n        {\n            \"description_html\": \"UA 620 -> LH 431 -> LH 178 \",\n            \"key\": \"153\",\n            \"name\": \"Flight Option 153\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T10:55:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:48:00Z\",\n                \"traveltime\": 17.1166666667\n            }\n        },\n        {\n            \"description_html\": \"UA 322 -> LH 491 -> LH 180 \",\n            \"key\": \"154\",\n            \"name\": \"Flight Option 154\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T11:55:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T10:45:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH7785 -> LH 431 -> LH 178 \",\n            \"key\": \"155\",\n            \"name\": \"Flight Option 155\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T10:55:00Z\",\n                \"price\": 2975.8,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T08:48:00Z\",\n                \"traveltime\": 17.1166666667\n            }\n        },\n        {\n            \"description_html\": \"AF  83 -> KL2008 -> KL1833 \",\n            \"key\": \"156\",\n            \"name\": \"Flight Option 156\",\n            \"values\": {\n                \"airline\": \"AF\",\n                \"landing\": \"2016-02-18T16:00:00Z\",\n                \"price\": 2977.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 16.0\n            }\n        },\n        {\n            \"description_html\": \"AF  83 -> AF1740 -> KL1833 \",\n            \"key\": \"157\",\n            \"name\": \"Flight Option 157\",\n            \"values\": {\n                \"airline\": \"AF\",\n                \"landing\": \"2016-02-18T16:00:00Z\",\n                \"price\": 2977.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 16.0\n            }\n        },\n        {\n            \"description_html\": \"KL2143 -> KL2008 -> KL1833 \",\n            \"key\": \"158\",\n            \"name\": \"Flight Option 158\",\n            \"values\": {\n                \"airline\": \"KL\",\n                \"landing\": \"2016-02-18T16:00:00Z\",\n                \"price\": 2977.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 16.0\n            }\n        },\n        {\n            \"description_html\": \"AF  83 -> KL2012 -> KL1833 \",\n            \"key\": \"159\",\n            \"name\": \"Flight Option 159\",\n            \"values\": {\n                \"airline\": \"AF\",\n                \"landing\": \"2016-02-18T16:00:00Z\",\n                \"price\": 2977.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 16.0\n            }\n        },\n        {\n            \"description_html\": \"KL2143 -> KL2012 -> KL1833 \",\n            \"key\": \"160\",\n            \"name\": \"Flight Option 160\",\n            \"values\": {\n                \"airline\": \"KL\",\n                \"landing\": \"2016-02-18T16:00:00Z\",\n                \"price\": 2977.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 16.0\n            }\n        },\n        {\n            \"description_html\": \"AF  83 -> AF1640 -> KL1833 \",\n            \"key\": \"161\",\n            \"name\": \"Flight Option 161\",\n            \"values\": {\n                \"airline\": \"AF\",\n                \"landing\": \"2016-02-18T16:00:00Z\",\n                \"price\": 2977.3,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:00:00Z\",\n                \"traveltime\": 16.0\n            }\n        },\n        {\n            \"description_html\": \"UA8828 -> OS 130 -> OS 293 \",\n            \"key\": \"162\",\n            \"name\": \"Flight Option 162\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T16:35:00Z\",\n                \"price\": 2982.9,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 16.5\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 106 -> LH2046 \",\n            \"key\": \"163\",\n            \"name\": \"Flight Option 163\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T18:10:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 18.0833333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 108 -> LH2044 \",\n            \"key\": \"164\",\n            \"name\": \"Flight Option 164\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 106 -> LH2042 \",\n            \"key\": \"165\",\n            \"name\": \"Flight Option 165\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T16:15:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 17.5\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 108 -> LH2046 \",\n            \"key\": \"166\",\n            \"name\": \"Flight Option 166\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T18:10:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 18.0833333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 106 -> LH2042 \",\n            \"key\": \"167\",\n            \"name\": \"Flight Option 167\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T16:15:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 104 -> LH2040 \",\n            \"key\": \"168\",\n            \"name\": \"Flight Option 168\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T15:10:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 16.4166666667\n            }\n        },\n        {\n            \"description_html\": \"LH9053 -> LH 104 -> LH2042 \",\n            \"key\": \"169\",\n            \"name\": \"Flight Option 169\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T16:15:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T13:45:00Z\",\n                \"traveltime\": 17.5\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 108 -> LH2056 \",\n            \"key\": \"170\",\n            \"name\": \"Flight Option 170\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T17:40:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.5833333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 104 -> LH2044 \",\n            \"key\": \"171\",\n            \"name\": \"Flight Option 171\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 106 -> LH2056 \",\n            \"key\": \"172\",\n            \"name\": \"Flight Option 172\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T17:40:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.5833333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 104 -> LH2042 \",\n            \"key\": \"173\",\n            \"name\": \"Flight Option 173\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T16:15:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 16.1666666667\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 104 -> LH2040 \",\n            \"key\": \"174\",\n            \"name\": \"Flight Option 174\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T15:10:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 15.0833333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 106 -> LH2044 \",\n            \"key\": \"175\",\n            \"name\": \"Flight Option 175\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 2990.1,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 104 -> LH2056 \",\n            \"key\": \"176\",\n            \"name\": \"Flight Option 176\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T17:40:00Z\",\n                \"price\": 2997.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 17.5833333333\n            }\n        },\n        {\n            \"description_html\": \"LH 455 -> LH 104 -> LH2046 \",\n            \"key\": \"177\",\n            \"name\": \"Flight Option 177\",\n            \"values\": {\n                \"airline\": \"LH\",\n                \"landing\": \"2016-02-18T18:10:00Z\",\n                \"price\": 2997.0,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 18.0833333333\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> AB5024 -> LH 202 \",\n            \"key\": \"178\",\n            \"name\": \"Flight Option 178\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T22:25:00Z\",\n                \"price\": 2997.9,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"OS7326 -> OS 130 -> OS 293 \",\n            \"key\": \"179\",\n            \"name\": \"Flight Option 179\",\n            \"values\": {\n                \"airline\": \"OS\",\n                \"landing\": \"2016-02-18T16:35:00Z\",\n                \"price\": 3000.4,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T15:05:00Z\",\n                \"traveltime\": 16.5\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> LH5571 -> LH5569 \",\n            \"key\": \"180\",\n            \"name\": \"Flight Option 180\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T22:10:00Z\",\n                \"price\": 3102.4,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 16.8333333333\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> LH 915 -> LH 202 \",\n            \"key\": \"181\",\n            \"name\": \"Flight Option 181\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T22:25:00Z\",\n                \"price\": 3105.5,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> LH 911 -> LH 202 \",\n            \"key\": \"182\",\n            \"name\": \"Flight Option 182\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T22:25:00Z\",\n                \"price\": 3105.5,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 17.0833333333\n            }\n        },\n        {\n            \"description_html\": \"SN9102 -> BA 988 \",\n            \"key\": \"183\",\n            \"name\": \"Flight Option 183\",\n            \"values\": {\n                \"airline\": \"SN\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 3481.4,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T19:25:00Z\",\n                \"traveltime\": 17.0\n            }\n        },\n        {\n            \"description_html\": \"BA 284 -> BA 994 \",\n            \"key\": \"184\",\n            \"name\": \"Flight Option 184\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 3704.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 15.9166666667\n            }\n        },\n        {\n            \"description_html\": \"BA 284 -> BA 984 \",\n            \"key\": \"185\",\n            \"name\": \"Flight Option 185\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T15:40:00Z\",\n                \"price\": 3704.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 14.4166666667\n            }\n        },\n        {\n            \"description_html\": \"BA 284 -> BA 988 \",\n            \"key\": \"186\",\n            \"name\": \"Flight Option 186\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 3704.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 20.1666666667\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> BA 988 \",\n            \"key\": \"187\",\n            \"name\": \"Flight Option 187\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 3704.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 16.0833333333\n            }\n        },\n        {\n            \"description_html\": \"BA 286 -> BA 792 -> BA7675 \",\n            \"key\": \"188\",\n            \"name\": \"Flight Option 188\",\n            \"values\": {\n                \"airline\": \"BA\",\n                \"landing\": \"2016-02-18T20:35:00Z\",\n                \"price\": 3712.4,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 15.25\n            }\n        },\n        {\n            \"description_html\": \"AY5524 -> BA 994 \",\n            \"key\": \"189\",\n            \"name\": \"Flight Option 189\",\n            \"values\": {\n                \"airline\": \"AY\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 3871.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 15.9166666667\n            }\n        },\n        {\n            \"description_html\": \"IB4668 -> BA 988 \",\n            \"key\": \"190\",\n            \"name\": \"Flight Option 190\",\n            \"values\": {\n                \"airline\": \"IB\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 3871.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 20.1666666667\n            }\n        },\n        {\n            \"description_html\": \"AY5524 -> BA 988 \",\n            \"key\": \"191\",\n            \"name\": \"Flight Option 191\",\n            \"values\": {\n                \"airline\": \"AY\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 3871.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 20.1666666667\n            }\n        },\n        {\n            \"description_html\": \"AY5526 -> BA 988 \",\n            \"key\": \"192\",\n            \"name\": \"Flight Option 192\",\n            \"values\": {\n                \"airline\": \"AY\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 3871.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 16.0833333333\n            }\n        },\n        {\n            \"description_html\": \"IB4668 -> BA 984 \",\n            \"key\": \"193\",\n            \"name\": \"Flight Option 193\",\n            \"values\": {\n                \"airline\": \"IB\",\n                \"landing\": \"2016-02-18T15:40:00Z\",\n                \"price\": 3871.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 14.4166666667\n            }\n        },\n        {\n            \"description_html\": \"IB4668 -> BA 994 \",\n            \"key\": \"194\",\n            \"name\": \"Flight Option 194\",\n            \"values\": {\n                \"airline\": \"IB\",\n                \"landing\": \"2016-02-18T17:10:00Z\",\n                \"price\": 3871.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 15.9166666667\n            }\n        },\n        {\n            \"description_html\": \"AY5524 -> BA 984 \",\n            \"key\": \"195\",\n            \"name\": \"Flight Option 195\",\n            \"values\": {\n                \"airline\": \"AY\",\n                \"landing\": \"2016-02-18T15:40:00Z\",\n                \"price\": 3871.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T16:15:00Z\",\n                \"traveltime\": 14.4166666667\n            }\n        },\n        {\n            \"description_html\": \"IB4670 -> BA 988 \",\n            \"key\": \"196\",\n            \"name\": \"Flight Option 196\",\n            \"values\": {\n                \"airline\": \"IB\",\n                \"landing\": \"2016-02-18T21:25:00Z\",\n                \"price\": 3871.9,\n                \"stops\": 1,\n                \"takeoff\": \"2016-02-17T20:20:00Z\",\n                \"traveltime\": 16.0833333333\n            }\n        },\n        {\n            \"description_html\": \"VS  42 -> BA 914 -> LH 202 \",\n            \"key\": \"197\",\n            \"name\": \"Flight Option 197\",\n            \"values\": {\n                \"airline\": \"VS\",\n                \"landing\": \"2016-02-18T22:25:00Z\",\n                \"price\": 3955.9,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T21:05:00Z\",\n                \"traveltime\": 16.3333333333\n            }\n        },\n        {\n            \"description_html\": \"VS  42 -> BA 956 -> LH2054 \",\n            \"key\": \"198\",\n            \"name\": \"Flight Option 198\",\n            \"values\": {\n                \"airline\": \"VS\",\n                \"landing\": \"2016-02-18T22:40:00Z\",\n                \"price\": 3966.7,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T21:05:00Z\",\n                \"traveltime\": 16.5833333333\n            }\n        },\n        {\n            \"description_html\": \"UA 728 -> AY5534 -> BA 992 \",\n            \"key\": \"199\",\n            \"name\": \"Flight Option 199\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T11:30:00Z\",\n                \"price\": 5324.4,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T09:26:00Z\",\n                \"traveltime\": 17.0666666667\n            }\n        },\n        {\n            \"description_html\": \"UA 424 -> AY5448 -> BA 984 \",\n            \"key\": \"200\",\n            \"name\": \"Flight Option 200\",\n            \"values\": {\n                \"airline\": \"UA\",\n                \"landing\": \"2016-02-18T15:40:00Z\",\n                \"price\": 5466.4,\n                \"stops\": 2,\n                \"takeoff\": \"2016-02-17T14:35:00Z\",\n                \"traveltime\": 16.0833333333\n            }\n        }\n    ],\n    \"subject\": \"Flights SFO TXL\"\n};\nmsg.problem=JSON.stringify(problem);\nreturn msg;\n",
        "id": "eb10ea38.14ef18",
        "name": "Add Flights Data",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "20046ffb.dffb9"
            ]
        ],
        "x": 307.25000762939453,
        "y": 46.500000953674316,
        "z": "36d96c34.c92694"
    }
]
